
@{
    ViewBag.Title = "About";
}


<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-3">
            @*Kategoriler*@
            @Html.Partial("_PartialCategories")

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-7 offset-lg-1">
          
            <div class="row">
              <h2 class="text-center mt-4">
                  Amet , consectetur adipiscing elit.
              </h2>
            
              <div class="mx-auto">
                  <img src="http://placehold.it/500x200" alt="Alternate Text" />
              </div>  
              
           
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis bibendum congue. Integer varius blandit eros, id varius ligula pulvinar porttitor. Duis tellus dui, tincidunt at vestibulum ac, varius mattis tortor. Nunc a facilisis enim. Donec id eleifend lacus. Maecenas ornare sapien ac risus feugiat, ac tempor turpis pretium. Nunc a aliquet sem. Sed facilisis lorem massa, non porttitor mauris lobortis varius. Mauris viverra diam eu augue finibus vulputate. Nunc vel consectetur lectus. In at ex quis erat tincidunt dignissim. Quisque non orci purus. Integer malesuada id tellus eu pellentesque. Cras fermentum at nisi quis dignissim. Vivamus a pharetra dui, at pretium erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
              </p>
              <p>Phasellus egestas urna et efficitur semper. Maecenas neque felis, vestibulum a nulla at, laoreet faucibus dui. Aliquam id eros sem. Proin sed risus vehicula, tincidunt diam vitae, efficitur turpis. Morbi a pulvinar felis, id faucibus nisi. Nam eu augue rutrum, mattis sapien sit amet, porttitor mi. Sed vestibulum odio mauris, sed aliquet sapien consectetur ac. Donec ultrices diam ex, eget pretium turpis viverra quis. Suspendisse potenti. Etiam orci orci, ultricies commodo dolor iaculis, euismod pellentesque est. Pellentesque sollicitudin augue lorem, interdum molestie arcu placerat vestibulum. Cras enim risus, consectetur at convallis eget, hendrerit non tellus. Donec a mi et neque vestibulum malesuada nec nec neque. Suspendisse vel orci quis turpis pharetra sodales. Aenean mattis vitae ligula ac sollicitudin.</p>
              <p>Vivamus sit amet elementum nulla, id euismod tellus. Donec non imperdiet felis. Suspendisse auctor nisl vitae diam aliquam dignissim. Quisque urna libero, efficitur sit amet ante sed, suscipit iaculis ipsum. Suspendisse potenti. Aenean at odio id augue dictum lobortis eget in quam. Aliquam erat volutpat. Phasellus finibus nulla ut lobortis malesuada. Nulla erat sapien, porttitor eu imperdiet vitae, venenatis eget ligula. Vestibulum pulvinar, purus eget auctor tempus, enim dui semper mi, quis pharetra turpis nibh nec erat. Integer massa orci, mattis in urna interdum, ullamcorper hendrerit turpis. Mauris elementum augue vel purus pellentesque, non pulvinar felis suscipit. Aenean eleifend, enim a vulputate ultrices, lorem orci finibus mi, quis aliquet sapien dolor non erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              <p>Aliquam erat volutpat. Integer viverra sit amet libero nec tristique. Integer auctor enim a dui placerat, et aliquam augue pulvinar. Integer egestas orci vel ligula tincidunt, vel rutrum augue condimentum. Vivamus lacinia lacus libero, a suscipit arcu pulvinar et. Curabitur efficitur nunc quis scelerisque fermentum. Praesent quis arcu arcu. Maecenas maximus massa a lobortis ornare. Vestibulum porta at augue ut tincidunt. Praesent pharetra hendrerit purus non auctor. Vivamus id porttitor sem, in tempor diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean fringilla lacus eros, quis rutrum ex varius non. Nullam tristique rutrum luctus.</p>
              
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
