
@{
    ViewBag.Title = "RegisterOk";
}

<style type="text/css">
    .kapsayici{
        display : flex;
        justify-content : center;
        align-items : center;
        height : 80vh;
    }
</style>

    <div class="kapsayici">
        <div class="card text-white bg-success mb-3" style="max-width: 28rem;  border-color:#36a2eb;">
            <div class="card-header text-center" style="background-color:#36a2eb;"><h2>Yönlendiriliyorsunuz...</h2></div>
            <div class="card-body" style="background-color:white;">
                <h5 class="card-title text-center" style="color : #5fb878; font-size:1.7rem;"><span class="fas fa-thumbs-up"></span>&nbsp;&nbsp;&nbsp;Kayıt oldunuz...</h5>
                <hr/>
                <p class="card-text text-black-50 text-center">Lütfen e-posta adresine gönderdiğimiz aktivasyon link'ine tıklayarak hesabınızı aktive ediniz.Hesabınızı aktive etmeden not ekleyemez ve beğenme yapamazsınız. </p>
            </div>
        </div>
    </div>
 

<script>
    $(function () {
        $("footer").hide();
        setTimeout(function () {
            window.location = "/Home/Index";
        }, 5000);
    });
</script>

